@*@model IEnumerable<DXWebMRCS.Models.Training>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<h2>Index</h2>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Үйл ажиллагаа, Сургалт оруулах</h3>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
             
                @Html.Action("GridViewMasterPartial")


            </div>
        </div>

    </div>
</div>
