
@{
    ViewBag.Title = "SID";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .pb-200 {
        padding-bottom: 50px !important;
    }
    .pt-200 {
        padding-top: 50px !important;
    }
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 500px;
    }
</style>
<section class="inner-header divider parallax layer-overlay overlay-dark-3" data-bg-img="/Content/IMG_0884.jpg">
    <div class="container pt-200 pb-200">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                    {
                        <h2 class="font-48 text-white">SOCIAL INCLUSION, DEVELOPMENT PROGRAM</h2>
                    }
                    else
                    {
                        <h2 class="font-48 text-white">НИЙГМИЙН ОРОЛЦОО, ХӨГЖЛИЙГ ДЭМЖИХ ХӨТӨЛБӨР</h2>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
{
    <section>
        <div class="container pt-70 pb-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="mt-0 line-height-1 text-uppercase"><span class="text-theme-colored">Social inclusion, development program</span></h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <section class="bg-white-f7">
                        <div class="container alert alert-info pb-0 pt-0">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="title mt-40">Strategy aim 3:</h2>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-left flip">
                                            <p class="left-bordered mt-40 text-justify">
                                                To provide community based social care services and psychosocial support;
                                                promote a culture of non-violence and peace for target group and improve the quality of
                                                their lives.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-white-f7">
                        <div class="container alert alert-info pb-0 pt-0">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="title mt-40">Strategy aim 4:</h2>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-left flip">
                                            <p class="left-bordered mt-40 text-justify">
                                                To develop a membership-based national society that has wide network of
                                                volunteers, skilled human resource and supports children and youth movement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="img-pos-center">
                        <img src="~/Content/Cont/sid5.png" />
                    </section>
                    <div class="separator">
                        <span>SOCIAL INCLUSION, DEVELOPMENT PROGRAM</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="maxwidth500 mb-sm-30 border-2px">
                            <div class="team-upper-block text-center">
                                <img class="img-fullwidth" src="~/Content/Cont/sid1.jpg" alt="">
                                <h4 class="mt-20 pb-0 mb-0">LIVELIHOOD SUPPORT</h4>
                            </div>
                            <div class="team-lower-block text-center pt-10 p-20">
                                <ul class="list list-divider list-border text-left">
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Provide psychosocial
                                                                                                    support to vulnerable people</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Enhance the legal
knowledge of migrants</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Promote documentation
and registration</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Support livelihood of
vulnerable people</li>
                                    <li>
                                        <i class="fa fa-check-square-o mr-10 text-black-light"></i> Restoring family links
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="maxwidth500 mb-sm-30 border-2px">
                            <div class="team-upper-block text-center">
                                <img class="img-fullwidth" src="~/Content/Cont/sid2.jpg" alt="">
                                <h4 class="mt-20 pb-0 mb-0">VIOLENCE  PREVENTION AND RESPONSE</h4>
                            </div>
                            <div class="team-lower-block text-center pt-10 p-20">
                                <ul class="list list-divider list-border text-left">
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Promote non-violent and peaceful society</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Implement child protection policy</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Prevent gender based violence</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i> Provide social inclusion, development trainings and workshops </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="maxwidth500 mb-sm-30 border-2px">
                            <div class="team-upper-block text-center">
                                <img class="img-fullwidth" src="~/Content/Cont/sid3.jpg" alt="">
                                <h4 class="mt-20 pb-0 mb-0">VOLUNTEERS</h4>
                            </div>
                            <div class="team-lower-block text-center pt-10 p-20">
                                <ul class="list list-divider list-border text-left">
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Implement legal environment for volunteerism in Mongolia</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Promote Humanitarian services to Community and Organizations</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Register retain and activate MRCS Volunteers</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Promote involvement and participation of members of the NMVO. (Network of Mongolian Volunteer Organizations)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <div class="container pt-70 pb-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="mt-0 line-height-1 text-uppercase"><span class="text-theme-colored">НИЙГМИЙН ОРОЛЦОО, ХӨГЖЛИЙГ ДЭМЖИХ ХӨТӨЛБӨР</span></h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <section class="bg-white-f7">
                        <div class="container alert alert-info pb-0 pt-0">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="title mt-40">Стратегийн зорилго 3:</h2>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-left flip">
                                            <p class="left-bordered mt-40">
                                                Зорилтот бүлгийн хүмүүст нийгэм-сэтгэл зүйн болон нийгмийн
                                                халамжийн үйлчилгээг олон нийтийн оролцоонд тулгуурлан хүргэж, хүчирхийлэлгүй,
                                                энх амгалан нийгмийг хөгжүүлэхэд хувь нэмэр оруулна.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-white-f7">
                        <div class="container alert alert-info pb-0 pt-0">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="title mt-40">Стратегийн зорилго 4:</h2>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-left flip">
                                            <p class="left-bordered mt-40">
                                                Гишүүнчлэлд суурилсан, сайн дурын идэвхтний өргөн сүлжээтэй, хүүхэд залуучуудын хөдөлгөөнийг дэмжсэн, мэргэшсэн хүний нөөц бүхий үндэсний нийгэмлэгийг хөгжүүлнэ.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="img-pos-center">
                        <img src="~/Content/Cont/sid4.png" />
                    </section>
                    <div class="separator">
                        <span>НИЙГМИЙН ОРОЛЦОО, ХӨГЖЛИЙГ ДЭМЖИХ ХӨТӨЛБӨР</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="maxwidth500 mb-sm-30 border-2px">
                            <div class="team-upper-block text-center">
                                <img class="img-fullwidth" src="~/Content/Cont/sid1.jpg" alt="">
                                <h4 class="mt-20 pb-0 mb-0">ИРГЭДИЙН АМЬЖИРГААГ ДЭМЖИХ</h4>
                            </div>
                            <div class="team-lower-block text-center pt-10 p-20">
                                <ul class="list list-divider list-border text-left">
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Нэн эмзэг бүлгийн хүн амын бие даан амьдрах чадварыг дээшлүүлэх;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Зорилтот бүлгийн иргэдэд нийгэм сэтгэл зүйн дэмжлэг үзүүлэх;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Дотоодын шилжин суурьшигсдын хуулийн мэдлэгийг дээшлүүлж, иргэний бичиг баримтжуулах асуудлыг дэмжих;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Гэр бүлийн хэлхээ холбоог сайжруулах.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="maxwidth500 mb-sm-30 border-2px">
                            <div class="team-upper-block text-center">
                                <img class="img-fullwidth" src="~/Content/Cont/sid2.jpg" alt="">
                                <h4 class="mt-20 pb-0 mb-0">ХҮЧИРХИЙЛЛЭЭС УРЬДЧИЛАН СЭРГИЙЛЭХ</h4>
                            </div>
                            <div class="team-lower-block text-center pt-10 p-20">
                                <ul class="list list-divider list-border text-left">
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Хүчирхийлэлгүй нийгмийг төлөвшүүлэхэд дэмжлэг үзүүлэх;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Хүүхэд хамгааллын бодлогыг хэрэгжүүлэх;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Жендерийн эрх тэгш байдлыг хангах;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Нийгмийн хөгжил, оролцоог дэмжих сургалт сурталчилгаа зохион байгуулах.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="maxwidth500 mb-sm-30 border-2px">
                            <div class="team-upper-block text-center">
                                <img class="img-fullwidth" src="~/Content/Cont/sid3.jpg" alt="">
                                <h4 class="mt-20 pb-0 mb-0">САЙН ДУРЫН ИДЭВХТЭН</h4>
                            </div>
                            <div class="team-lower-block text-center pt-10 p-20">
                                <ul class="list list-divider list-border text-left">
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Сайн дурын үйл ажиллагааг дэмжих хууль эрх зүйн орчин бүрдүүлэх;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Хүмүүнлэгийн үйлсэд иргэд, сайн дурын идэвхтний оролцоог нэмэгдүүлэх;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Сайн дурын идэвхтэнг дадлагажуулах, сургалт зохион байгуулах;</li>
                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Сайн дурын байгууллагуудын сүлжээний үйл ажиллагааг дэмжих.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
    

