
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{string language = System.Globalization.CultureInfo.CurrentCulture.Name;}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-3" data-bg-img="/Content/IMG_0725.jpg">
        <div class="container pt-200 pb-200">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                        {
                            <h2 class="font-48 text-white">Blog Timeline Masonry</h2>
                        }
                        else
                        {
                            <h2 class="font-48 text-white">ОН ЦАГИЙН ТОВЧООН</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container pt-100 pb-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="vertical-masonry-timeline-wrapper">
                        <ul class="vertical-masonry-timeline">
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">1939 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                “Монголын улаан хэрээстийн эвлэл”-ийн анхдугаар Их хурал 4 дүгээр  сарын 30-нд Улаанбаатар хотноо хуралдаж, анхны дүрмээ баталжээ. Энэ
                                                өдрийг Монголын Улаан загалмай нийгэмлэг (МУЗН) байгуулагдсан өдөр гэж тэмдэглэдэг.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">1958 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                Олон улсын хүмүүнлэгийн хууль болсон 1949 оны Женевийн конвенцийг Монгол Улсын Засгийн газар соёрхон батлав
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">1959 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                МУЗН Олон Улсын Улаан
                                                Загалмай, Улаан хавирган сар нийгэмлэгүүдийн Холбоонд 84 дэх гишүүнээр элсэв.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">1994 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                МУЗН-ийн Хөгжлийн хөтөлбөрийг дэмжиж, Олон улсын Улаан загалмай, Улаан хавирган сар нийгэмлэгүүдийн холбооны суурин төлөөлөгч Монголд Улсад ажиллаж эхлэв.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">1998 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                МУЗН-ийн ээлжит бус Их хурал хуралдаж, нийгмийн
                                                шинэчлэл, олон улсын үндэсний нийгэмлэгүүдийн жишигт нийцүүлэн нийгэмлэгийн шинэчилсэн дүрмийг батлан, үйл ажиллагааны үндсэн
                                                чиглэлийг тодорхойлж, өөрчлөлт шинэчлэлийг эхлүүлэв.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2000 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                Улсын Их хурал МУЗН- ийн Эрх зүйн байдлын тухай хуулиар Улаан загалмай нийгэмлэгийг Монгол Улсын нутаг дэвсгэр дээр хүмүүнлэгийн салбарт төрдөө нэмэлт хүч болж ажиллах үндэсний нийгэмлэг мөн болохыг
                                                баталгаажуулав.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2004 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                Хүмүүнлэг энэрэнгүй үйлсэд бодитой хувь нэмэр оруулсан хүмүүсийг “Нигүүлсэнгүй үйлстэн”- ээр шалгаруулан алдаршуулах ажиллагааг жил бүр уламжлал болгон зохион байгуулдаг болов.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2009 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                МУЗН үүсэн байгуулагдсаны 70 жилийн түүхт ой, “Хүмүүнлэгийн аяны жил”-ийг орон даяар зохион байгуулав.
                                                Монгол Улсын Засгийн газар Олон улсын хүмүүнлэгийн эрх
                                                зүйг хүндэтгэн сахих, хэрэгжүүлэх асуудлыг эрхлэх үүрэг бүхий “Үндэсний хороо” байгуулагдав.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2010 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                МУЗН-ийн ээлжит XII Их хурал “МУЗН- ийн тогтвортой хөгжлийг хангаж ажиллацгаая” уриан дор болж, 2015 он хүртэл баримтлах стратеги зорилтоо тодорхойлон, дүрмээ шинэчилж батлав.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2011 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                Монгол Улсын Засгийн газар “МУЗН – Засгийн газрын хамтын ажиллагаа”-ны
                                                чиглэлийн тухай тогтоол гаргав.
                                                <br />
                                                Жил бүрийн тавдугаар сарын 8-ныг Үндэсний
                                                хэмжэээнд “Хүмүүнлэгийн
                                                өдөр” болгон тэмдэглэж байхаар шийдвэрлэв.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                            <div class="entry-header">
                                                <h4 class="entry-title text-theme-colored"></h4>
                                            </div>
                                            <div class="entry-content">
                                                <p class="mb-30"></p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="entry-header">
                                                <h4 class="entry-title text-theme-colored">2014 он</h4>
                                            </div>
                                            <div class="entry-content">
                                                <p class="mb-30">
                                                    <ul class="list list-divider list-border">
                                                        <li>
                                                            <i class="fa fa-check-square-o mr-10 text-black-light"></i>
                                                            Үндэсний чуулган  хуралдаж, “Стратеги-2020” болон МУЗН-ийн дүрэм зэрэг бодлогын баримт бичгүүдийг Олон улсын Улаан загалмайн стратегид нийцүүлэн баталлаа.
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-check-square-o mr-10 text-black-light"></i>
                                                            6 сар – “МУЗН-ийн түншлэл” олон улсын   уулзалтыг зохион байгуулж, Олон
                                                            Улсын Улаан загалмай Улаан хавирган сар нийгэмлэгүүдийн холбоо, Олон улсын Улаан загалмайн хорооны удирдлагууд болон
                                                            10 гаруй орны төлөөлөгчид оролцон гадаад харилцаа, хамтын ажиллагааны шинэ үеийг эхлүүлэв.
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-check-square-o mr-10 text-black-light"></i>
                                                            10 сар- МУЗН-ийн 75 жилийн ой болон бодлогын хөгжлийн асуудлаар  Үндэсний зөвлөлдөх уулзалтыг зохион байгууллаа. Энэхүү арга хэмжээгээр үндэсний нийгэмлэгийн хүчин чадлыг бэхжүүлэх, шинэчлэлийн үйл ажиллагааг эрчимжүүлэх зорилтыг тодорхойлов.
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-check-square-o mr-10 text-black-light"></i>
                                                            УИХ-ын нэр бүхий гишүүдээс бүрдсэн Улаан загалмайн үйл ажиллагааг дэмжих “Парламентын нөхөд” бүлгийг байгуулав.
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-check-square-o mr-10 text-black-light"></i>
                                                            Байгууллагын хөгжлийн (OCAC, BOCA) үнэлгээ хийж эхлэв
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2015 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                <ul class="list list-divider list-border">
                                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Сайн дурын ажилтны Үндэсний форум, бүсчилсэн уулзалт зохион байгуулав.</li>
                                                    <li>
                                                        <i class="fa fa-check-square-o mr-10 text-black-light"></i>Зүүн өмнөд азийн Үндэсний нийгэмлэгийн
                                                        удирдагчдын уулзалт болов
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2016 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                Монголын улаан загалмай нийгэмлэгийн эрх зүйн байдлын тухай хуулийн шинэчилсэн найруулгыг
                                                УИХ баталж, хүмүүнлэгийн салбарт төрдөө нэмэлт хүч болох Үндэсний хүмүүнлэгийн байгууллага мөн болохыг баталгаажуулав.
                                                <br />
                                                Үндэсний чуулганыг хуралдуулж, Монголын улаан загалмай нийгэмлэгийн эрх зүйн байдлын тухай хуульд нийцүүлэн дүрэм, Стратеги- 2020 зэрэг бодлогын баримт бичгүүдийг шинэчлэн баталлаа.
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                            <li class="each-masonry-item wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
                                <div class="timeline-block">
                                    <span class="timeline-post-format"><i class="fa fa-location-arrow text-theme-colored"></i></span>
                                    <article class="post clearfix">
                                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored"></h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30"></p>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="entry-header">
                                            <h4 class="entry-title text-theme-colored">2017 он</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p class="mb-30">
                                                <ul class="list list-divider list-border">
                                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Зудад нэрвэгдсэн 8880 өрхөд 3 тэрбум төгрөгийн тусламж үзүүллээ.</li>
                                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Хүүхэд залуучуудын хөгжлийн төвийг байгууллаа.</li>
                                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Зүүн азийн 105 улаан загалмайч хүүхдүүдийн зуслан цугларалтыг зохион байгуулав.</li>
                                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Ази номхон далайн орнуудын гамшигтай тэмцэх багийн сургалт зохион байгуулав.</li>
                                                    <li><i class="fa fa-check-square-o mr-10 text-black-light"></i>Гамшгийн үед ажиллах 315 сайн дурын идэвхтэнг бэлтгэв.</li>
                                                </ul>
                                            </p>
                                        </div>
                                        }
                                    </article>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

