

<div class="col-md-12">
    <!-- Works Filter -->
    <div class="portfolio-filter text-center">
        <a href="#" class="active" data-filter="*">All</a>
        <a href="#branding" class="" data-filter=".branding">Branding</a>
        <a href="#design" class="" data-filter=".design">Design</a>
        <a href="#photography" class="" data-filter=".photography">Photography</a>
    </div>
    <!-- End Works Filter -->
    <!-- Portfolio Gallery Grid -->

    <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg1.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item branding">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg2.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg3.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item branding">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg4.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item branding">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg5.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item branding">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg6.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg7.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg8.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg9.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg10.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg11.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="http://placehold.it/280x190" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/Content/images/gallery/gallery-lg12.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Item End -->
    </div>
    <!-- End Portfolio Gallery Grid -->
</div>

