@model IEnumerable<DXWebMRCS.Models.UserProfile>

@{
    string owlCarousel = string.Empty;
    string columnMd = string.Empty;
    
    if (Model.Count() > 5)
    {
        owlCarousel = "owl-carousel-6col";
        columnMd = "col-md-12";
    }
    else if (Model.Count() == 5)
    {
        owlCarousel = "owl-carousel-5col";
        columnMd = "col-md-10";
    }
    else if (Model.Count() == 4)
    {
        owlCarousel = "owl-carousel-4col";
        columnMd = "col-md-8";
    }
    else if (Model.Count() == 3)
    {
        owlCarousel = "owl-carousel-3col";
        columnMd = "col-md-6";
    }
    else if (Model.Count() == 2)
    {
        owlCarousel = "owl-carousel-2col";
        columnMd = "col-md-4";
    }
    else
    {
        owlCarousel = "owl-carousel-1col";
        columnMd = "col-md-2";
    }
}

<div class="@Url.Content(columnMd)">
    <h4 class="mb-20">Keynote Speakers</h4>

    <div class="@Url.Content(owlCarousel)" data-nav="true">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="attorney">
                    <div class="thumb"><img src="http://placehold.it/180x200" alt=""></div>
                    <div class="content text-center">
                        <h5 class="author mb-0"><a class="text-theme-colored" href="#">@item.Name</a></h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-plugin-collection.js"></script>

