@*@model IEnumerable<DXWebMRCS.Models.Menu>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    @{Html.RenderAction("SliderViewPartial", "Home");}
    @*@if (WebSecurity.CurrentUserName == "")
    {
        <p>ADMIN</p>
    }*@
    <section>
        <div class="container-fluid p-0 p-sm-15">
            <div class="section-content">
                <div class="row equal-height-inner home-boxes">
                    <div class="col-sm-12 col-md-3 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
                        <div class="sm-height-auto bg-theme-colored">
                            <div class="p-30">
                                <h3 class="text-uppercase text-white mt-0">Сайн дурын идэвхтэнээр элсэх</h3>
                                <p class="text-white text-justify">
                                    МУЗН-ийн Сайн дурын идэвхтэн нь Хөдөлгөөний
                                    үндсэн зарчмыг хүлээн зөвшөөрч, оршин
                                    суугаа нутаг дэвсгэрийнхээ МУЗН-ийн аль нэг
                                    шатны хороонд бүртгүүлж, Улаан загалмайн
                                    үйл ажиллагаанд тогтмол идэвхтэй оролцож,
                                    нийгэм, хүний сайн сайхны төлөө сайн дураараа
                                    ажилладаг иргэн байна.
                                </p>
                                <a href="~/Content/page-become-a-volunteer.html" class="btn btn-border btn-circled btn-transparent btn-xs mt-5">Дэлгэрэнгүй унших</a>
                            </div>
                            <i class="flaticon-charity-shaking-hands-inside-a-heart bg-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
                        <div class="sm-height-auto bg-theme-colored-darker2">
                            <div class="p-30">
                                <h3 class="text-uppercase text-white mt-0">Гишүүнээр элсэх</h3>
                                <p class="text-white text-justify">
                                    Монголын улаан загалмай нийгэмлэгийн гишүүнчлэл нь Татвар төлөгч гишүүн, Ивээн тэтгэгч гишүүн
                                    (онцгой), Гишүүн хүмүүнлэгийн байгууллага гэсэн төрлүүдтэй байна.
                                </p>
                                <a href="~/Content/#" class="btn btn-border btn-circled btn-transparent btn-xs mt-5">Дэлгэрэнгүй унших</a>
                            </div>
                            <i class="flaticon-charity-home-insurance bg-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 pl-0 pr-0 pl-sm-15 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
                        <div class="sm-height-auto bg-theme-colored-darker3">
                            <div class="p-30">
                                <h3 class="text-uppercase text-white mt-0">Хэрхэн цусны донор болох</h3>
                                <p class="text-white text-justify">
                                    Цусны донорын сургалт, сурталчилгааг явуулах үүргийг Донорын тухай хуулиар хүлээсэн тул
                                    донорын цусны хэрэгцээ, ач холбогдлын талаар нийгэм, олон нийтэд сурталчлан таниулах,
                                    шинээр цусны донорын эгнээг өргөжүүлэхэд дэмжлэг үзүүлэн ажиллах;
                                </p>
                                <a href="~/Content/page-donate.html" class="btn btn-border btn-circled btn-transparent btn-xs mt-5">Дэлгэрэнгүй унших</a>
                            </div>
                            <i class="flaticon-charity-make-an-online-donation bg-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
                        <div class="sm-height-auto bg-theme-colored-darker4">
                            <div class="p-30">
                                <h3 class="text-white mt-0 mb-5">Холбоо барих</h3>
                                <p class="text-white text-justify">Монгол улс, Улаанбаатар хот, Сүхбаатар дүүрэг, Энхтайвны гудамж, МУЗН-ийн төв байр <br /><span class="fa fa-envelope-o"></span> info@redcross.mn<br /><span class="fa fa-phone"></span> (+976)-11-323334</p>
                                <a href="~/Content/page-contact1.html" class="btn btn-border btn-circled btn-transparent btn-xs mt-5">Дэлгэрэнгүй унших</a>
                            </div>
                            <i class="fa fa-mobile bg-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: About -->
    <section id="about">
        <div class="container mb-0 pt-0 mt-60">
            <div class="section-content">
                <div class="row mt-10">
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-sm-20 p-20 pt-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="text-uppercase line-bottom mt-0">МУЗН-ийн<span class="text-theme-colored"> танилцуулга</span></h3>
                        <p class="mb-15">
                            Монголын улаан загалмай
                            нийгэмлэгийн Эрх зүйн
                            байдлын тухай хуулиар Улаан
                            загалмай нийгэмлэгийг Монгол
                            Улсын нутаг дэвсгэр дээр
                            хүмүүнлэгийн салбарт төрдөө
                            нэмэлт хүч болж ажиллах
                            цорын ганц үндэсний нийгэмлэг
                            мөн болохыг баталгаажуулсан
                            билээ. Манай нийгэмлэг нь төр,
                            захиргааны байгууллагатай
                            харилцахдаа бие даасан
                            байдлаа хадгалж, төрийн
                            хүмүүнлэгийн үйл ажиллагааг
                            хэрэгжүүлэхэд төрдөө нэмэлт хүч
                            болон ажиллаж байна.
                        </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="mt-10">
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Family Support</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Group Work</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Child Adoption</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Fund Raising</li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="mt-10">
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Tree Plantation</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Childhood Care</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Build Orphanage</li>
                                    <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Volunteer Work</li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-10" href="~/Content/#">View Details</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="9s" data-wow-delay="0.3s">
                        <h3 class="text-uppercase line-bottom mt-0">Хэрэгжиж буй <span class="text-theme-colored"> төслүүд</span></h3>
                        <div class="owl-carousel-1col">
                            @{Html.RenderAction("ProjectListPartial", "Home");}
                        </div>
                    </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 hidden-sm pl-40 pl-sm-20 mr-sm-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                                <h3 class="text-uppercase line-bottom mt-sm-30 mt-0">Бидэнтэй <span class="text-theme-colored"> нэгдснээр</span></h3>
                                <div class="icon-box icon-box-effect mb-20 p-15 bg-light border-bottom-3px">
                                    <a href="~/Content/#" class="icon mb-0 mr-0 pull-left flip">
                                        <i class="flaticon-charity-responsible-energy-use text-theme-colored font-48"></i>
                                    </a>
                                    <div class="ml-80">
                                        <h4 class="icon-box-title mt-15 mb-5"><strong>Цусны донор болсноор</strong></h4>
                                        <p class="text-gray">Цусны донорын сургалт, сурталчилгааг явуулах үүргийг Донорын тухай хуулиар хүлээсэн тул донорын цусны хэрэгцээ,<a class="font-14 pl-10 text-theme-colored" href="~/Content/page-about1.html"> үргэлжүүлж унших...</a></p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-effect mb-20 p-15 bg-light border-bottom-3px">
                                    <a href="~/Content/#" class="icon mb-0 mr-0 pull-left flip">
                                        <i class="flaticon-charity-shelter text-theme-colored font-48"></i>
                                    </a>
                                    <div class="ml-80">
                                        <h4 class="icon-box-title mt-15 mb-5"><strong>Сайн дурын идэвхтэн болсноор</strong></h4>
                                        <p class="text-gray">Сайн дурын идэвхтэн нь Хөдөлгөөний үндсэн зарчмыг хүлээн зөвшөөрч, оршин суугаа нутаг дэвсгэрийнхээ<a class="font-14 pl-10 text-theme-colored" href="~/Content/page-about1.html"> үргэлжүүлж унших...</a></p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px">
                                    <a href="~/Content/#" class="icon mb-0 mr-0 pull-left flip">
                                        <i class="flaticon-charity-hand-holding-a-heart text-theme-colored font-48"></i>
                                    </a>
                                    <div class="ml-80">
                                        <h4 class="icon-box-title mt-15 mb-5"><strong>Хандив өгснөөр</strong></h4>
                                        <p class="text-gray">Хүмүүнлэгийн үйл ажиллагаанд өөрийн хувь нэмрээ оруулах боломжтой<a class="font-14 pl-10 text-theme-colored" href="~/Content/page-about1.html"> үргэлжүүлж унших...</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <!-- Section: Features  -->
    <section class="bg-silver-light">
        <div class="container pb-40">
            <div class="section-title text-center mt-0">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="mt-0 line-height-1">Бидний <span class="text-theme-colored"> үнэт зүйл</span></h2>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>*@
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                            <a class="media-left pull-left flip" href="~/Content/#"><i class="flaticon-charity-make-an-online-donation text-theme-colored"></i></a>
                            <div class="media-body">
                                <h4 class="media-heading heading text-uppercase">ХҮМҮҮС </h4>
                                <p class="text-justify">
                                    Эмзэг байдлаас гарах арга замаа олоход нь хүмүүст тусалж,
                                    тогтвортой үйл ажиллагааны чадавхи бий болгоно.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                            <a class="media-left pull-left flip" href="~/Content/#"><i class="flaticon-charity-shaking-hands-inside-a-heart text-theme-colored"></i></a>
                            <div class="media-body">
                                <h4 class="media-heading heading text-uppercase">ШУДАРГА БАЙДАЛ</h4>
                                <p class="text-justify">Бид өөрсдийн үндсэн зарчмын дагуу ил тод, ашиг сонирхлын зөрчилгүй үйл ажиллагаагаа явуулна. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                            <a class="media-left pull-left flip" href="~/Content/#"><i class="flaticon-charity-hand-holding-a-gift text-theme-colored"></i></a>
                            <div class="media-body">
                                <h4 class="media-heading heading text-uppercase">ХАМТЫН АЖИЛЛАГАА</h4>
                                <p class="text-justify">
                                    Олон Улсын Улаан загалмай, Улаан хавирган сар хөдөлгөөний дүрэм, журам, үндсэн зарчмын хүрээнд МУЗН-
                                    ийн эрх зүйн байдлын тухай Монгол Улсын хуулийн дагуу төр ба бусад хуулийн этгээдтэй хамтран ажиллана.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                            <a class="media-left pull-left flip" href="~/Content/#"><i class="flaticon-charity-dove-of-peace-1 text-theme-colored"></i></a>
                            <div class="media-body">
                                <h4 class="media-heading heading text-uppercase">ОЛОН ТАЛТ БАЙДАЛ</h4>
                                <p class="text-justify">
                                    Бид хамтран ажиллаж байгаа нийгмийн бүлгүүдийн олон талт байдлыг хүндэтгэн үзэж, Улаан загалмайн гишүүн,
                                    сайн дурын идэвхтэн, ажилтантай ялгаварлан гадуурхахгүй, шударга, нэгдмэл зарчмыг баримтлан ажиллана.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                            <a class="media-left pull-left flip" href="~/Content/#"><i class="flaticon-charity-shelter text-theme-colored"></i></a>
                            <div class="media-body">
                                <h4 class="media-heading heading text-uppercase">МАНЛАЙЛАЛ</h4>
                                <p class="text-justify">
                                    Бид манлайлагч болохоо харуулж, Улаан загалмайн үйл ажиллагааг явуулахдаа олон нийтийн эрх, хэрэгцээ,
                                    эмзэг байдал болон түүний үр дагаварт анхаарал хандуулан ажиллана.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                            <a class="media-left pull-left flip" href="~/Content/#"><i class="flaticon-charity-food-donation-1 text-theme-colored"></i></a>
                            <div class="media-body">
                                <h4 class="media-heading heading text-uppercase">САНААЧИЛГА</h4>
                                <p class="text-justify">
                                    Бид өөрчлөгдөн шинэчлэгдэж байгаа дэлхий дээрх хүмүүний сайн сайхан байдалд заналхийлж буй асуудалд
                                    тогтвортой шийдэл олохын төлөө бүтээлч, нэгдмэл, тэгш эрхтэй ажиллана.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: causes -->
    <section id="causes">
        <div class="container pb-70">
            <div class="section-content">
                <div class="section-title text-center mt-0">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="mt-0 line-height-1">Our <span class="text-theme-colored"> Causes</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="causes col-xs-12 col-sm-6 col-md-4 mb-sm-30">
                        <div class="thumb">
                            <img class="img-fullwidth mb-sm-0" src="http://placehold.it/360x240" alt="">
                        </div>
                        <div class="progress-item mt-0">
                            <div class="progress mb-0">
                                <div class="progress-bar" data-percent="84"></div>
                            </div>
                        </div>
                        <div class="causes-details bg-white clearfix border-2px p-15 pt-10">
                            <h4><a href="~/Content/#">Sponsor For Food</a></h4>
                            <ul class="list-inline clearfix font-16 pt-0 pb-10">
                                <li class="pull-left pr-0">Raised: $1890</li>
                                <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                            </ul>
                            <p class="font-15">Lorem ipsum dolor sit amet, consect adipi sicing elit. Praesent quos sit. sicing elit Praesent quos sit.</p>
                            <div class="mt-10">
                                <a class="btn btn-dark btn-md font-16 btn-theme-colored btn-sm pull-left mt-10" href="~/Content/#">Donate</a>
                                <div class="pull-right mt-15 font-16  text-theme-colored"><i class="fa fa-heart-o"></i> 89 Donors</div>
                            </div>
                        </div>
                    </div>
                    <div class="causes col-xs-12 col-sm-6 col-md-4 mb-sm-30">
                        <div class="thumb">
                            <img class="img-fullwidth mb-sm-0" src="http://placehold.it/360x240" alt="">
                        </div>
                        <div class="progress-item mt-0">
                            <div class="progress mb-0">
                                <div class="progress-bar" data-percent="84"></div>
                            </div>
                        </div>
                        <div class="causes-details bg-white clearfix border-2px p-15 pt-10">
                            <h4><a href="~/Content/#">Sponsor For Refugee</a></h4>
                            <ul class="list-inline clearfix font-16 pt-0 pb-10">
                                <li class="pull-left pr-0">Raised: $1890</li>
                                <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                            </ul>
                            <p class="font-15">Lorem ipsum dolor sit amet, consect adipi sicing elit. Praesent quos sit. sicing elit Praesent quos sit.</p>
                            <div class="mt-10">
                                <a class="btn btn-dark btn-md font-16 btn-theme-colored btn-sm pull-left mt-10" href="~/Content/#">Donate</a>
                                <div class="pull-right mt-15 font-16  text-theme-colored"><i class="fa fa-heart-o"></i> 89 Donors</div>
                            </div>
                        </div>
                    </div>
                    <div class="causes col-xs-12 col-sm-6 col-md-4 mb-sm-30">
                        <div class="thumb">
                            <img class="img-fullwidth mb-sm-0" src="http://placehold.it/360x240" alt="">
                        </div>
                        <div class="progress-item mt-0">
                            <div class="progress mb-0">
                                <div class="progress-bar" data-percent="84"></div>
                            </div>
                        </div>
                        <div class="causes-details bg-white clearfix border-2px p-15 pt-10">
                            <h4><a href="~/Content/#">Sponsor For Education</a></h4>
                            <ul class="list-inline clearfix font-16 pt-0 pb-10">
                                <li class="pull-left pr-0">Raised: $1890</li>
                                <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                            </ul>
                            <p class="font-15">Lorem ipsum dolor sit amet, consect adipi sicing elit. Praesent quos sit. sicing elit Praesent quos sit.</p>
                            <div class="mt-10">
                                <a class="btn btn-dark btn-md font-16 btn-theme-colored btn-sm pull-left mt-10" href="~/Content/#">Donate</a>
                                <div class="pull-right mt-15 font-16  text-theme-colored"><i class="fa fa-heart-o"></i> 89 Donors</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Make a Donation -->
    <section class="divider parallax" data-bg-img="http://placehold.it/1920x1280" data-parallax-ratio="0.7">
        <div class="container pt-0 pb-0">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="bg-theme-colored pt-60 p-40">
                        <h3 class="mt-0 text-white">Make a Donation Now!</h3>

                        <!-- ===== START: Paypal Both Onetime/Recurring Form ===== -->
                        <form id="paypal_donate_form_onetime_recurring">
                            <div class="row">
                                <div class="col-md-12 text-white">
                                    <img src="~/Content/images/payment-card-logo-sm.png" alt="">
                                    <div class="form-group mt-20 mb-20">
                                        <label><strong class="">Payment Type</strong></label> <br>
                                        <label class="radio-inline">
                                            <input type="radio" checked="" value="one_time" name="payment_type">
                                            One Time
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="recurring" name="payment_type">
                                            Recurring
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-12" id="donation_type_choice">
                                    <div class="form-group mb-20 text-white">
                                        <label><strong>Donation Type</strong></label>
                                        <div class="radio mt-5">
                                            <label class="radio-inline">
                                                <input type="radio" value="D" name="t3" checked="">
                                                Daily
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="W" name="t3">
                                                Weekly
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="M" name="t3">
                                                Monthly
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="Y" name="t3">
                                                Yearly
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group mb-20 text-white">
                                        <label><strong class="">I Want to Donate for</strong></label>
                                        <select name="item_name" class="form-control">
                                            <option value="Educate Children">Educate Children</option>
                                            <option value="Child Camps">Child Camps</option>
                                            <option value="Clean Water for Life">Clean Water for Life</option>
                                            <option value="Campaign for Child Poverty">Campaign for Child Poverty</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group mb-20 text-white">
                                        <label><strong class="">Currency</strong></label>
                                        <select name="currency_code" class="form-control">
                                            <option value="">Select Currency</option>
                                            <option value="USD" selected="selected">USD - U.S. Dollars</option>
                                            <option value="AUD">AUD - Australian Dollars</option>
                                            <option value="BRL">BRL - Brazilian Reais</option>
                                            <option value="GBP">GBP - British Pounds</option>
                                            <option value="HKD">HKD - Hong Kong Dollars</option>
                                            <option value="HUF">HUF - Hungarian Forints</option>
                                            <option value="INR">INR - Indian Rupee</option>
                                            <option value="ILS">ILS - Israeli New Shekels</option>
                                            <option value="JPY">JPY - Japanese Yen</option>
                                            <option value="MYR">MYR - Malaysian Ringgit</option>
                                            <option value="MXN">MXN - Mexican Pesos</option>
                                            <option value="TWD">TWD - New Taiwan Dollars</option>
                                            <option value="NZD">NZD - New Zealand Dollars</option>
                                            <option value="NOK">NOK - Norwegian Kroner</option>
                                            <option value="PHP">PHP - Philippine Pesos</option>
                                            <option value="PLN">PLN - Polish Zlotys</option>
                                            <option value="RUB">RUB - Russian Rubles</option>
                                            <option value="SGD">SGD - Singapore Dollars</option>
                                            <option value="SEK">SEK - Swedish Kronor</option>
                                            <option value="CHF">CHF - Swiss Francs</option>
                                            <option value="THB">THB - Thai Baht</option>
                                            <option value="TRY">TRY - Turkish Liras</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group mb-20 text-white">
                                        <label><strong class="">How much do you want to donate?</strong></label>
                                        <div class="radio mt-5">
                                            <label class="radio-inline">
                                                <input type="radio" name="amount" value="20">
                                                $20
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="amount" value="50">
                                                $50
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="amount" value="100">
                                                $100
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="amount" value="200">
                                                $200
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="amount" value="500">
                                                $500
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="amount" value="other">
                                                Other Amount
                                            </label>
                                        </div>
                                        <div id="custom_other_amount">
                                            <label><strong>Custom Amount:</strong></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" data-loading-text="Please wait...">Donate Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Script for Donation Form Custom Amount -->
                        <script type="text/javascript">
                            $(document).ready(function (e) {
                                var $donation_form = $("#paypal_donate_form_onetime_recurring");
                                //toggle custom amount
                                var $custom_other_amount = $donation_form.find("#custom_other_amount");
                                $custom_other_amount.hide();
                                $donation_form.find("[name='amount']").change(function () {
                                    var $this = $(this);
                                    if ($this.val() == 'other') {
                                        $custom_other_amount.show().append('<div class="input-group"><span class="input-group-addon">$</span> <input id="input_other_amount" type="text" name="amount" class="form-control" value="100"/></div>');
                                    }
                                    else {
                                        $custom_other_amount.children(".input-group").remove();
                                        $custom_other_amount.hide();
                                    }
                                });

                                //toggle donation_type_choice
                                var $donation_type_choice = $donation_form.find("#donation_type_choice");
                                $donation_type_choice.hide();
                                $("input[name='payment_type']").change(function () {
                                    if (this.value == 'recurring') {
                                        $donation_type_choice.show();
                                    }
                                    else {
                                        $donation_type_choice.hide();
                                    }
                                });


                                // submit form on click
                                $donation_form.on('submit', function (e) {
                                    //$( "#paypal_donate_form-onetime" ).submit();
                                    var item_name = $donation_form.find("select[name='item_name'] option:selected").val();
                                    var currency_code = $donation_form.find("select[name='currency_code'] option:selected").val();
                                    var amount = $donation_form.find("[name='amount']:checked").val();
                                    var t3 = $donation_form.find("input[name='t3']:checked").val();

                                    if (amount == 'other') {
                                        amount = $donation_form.find("#input_other_amount").val();
                                        console.log(amount);
                                    }

                                    // submit proper form now
                                    if ($("input[name='payment_type']:checked", $donation_form).val() == 'recurring') {
                                        var recurring_form = $('#paypal_donate_form-recurring');

                                        recurring_form.find("input[name='item_name']").val(item_name);
                                        recurring_form.find("input[name='currency_code']").val(currency_code);
                                        recurring_form.find("input[name='a3']").val(amount);
                                        recurring_form.find("input[name='t3']").val(t3);

                                        recurring_form.find("input[type='submit']").trigger('click');

                                    } else if ($("input[name='payment_type']:checked", $donation_form).val() == 'one_time') {
                                        var onetime_form = $('#paypal_donate_form-onetime');

                                        onetime_form.find("input[name='item_name']").val(item_name);
                                        onetime_form.find("input[name='currency_code']").val(currency_code);
                                        onetime_form.find("input[name='amount']").val(amount);

                                        onetime_form.find("input[type='submit']").trigger('click');
                                    }
                                    return false;
                                });

                            });
                        </script>

                        <!-- Paypal Onetime Form -->
                        <form id="paypal_donate_form-onetime" class="hidden" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_donations">
                            <input type="hidden" name="business" value="accounts@thememascot.com">

                            <input type="hidden" name="item_name" value="Educate Children"> <!-- updated dynamically -->
                            <input type="hidden" name="currency_code" value="USD"> <!-- updated dynamically -->
                            <input type="hidden" name="amount" value="20"> <!-- updated dynamically -->

                            <input type="hidden" name="no_shipping" value="1">
                            <input type="hidden" name="cn" value="Comments...">
                            <input type="hidden" name="tax" value="0">
                            <input type="hidden" name="lc" value="US">
                            <input type="hidden" name="bn" value="PP-DonationsBF">
                            <input type="hidden" name="return" value="http://www.yoursite.com/thankyou.html">
                            <input type="hidden" name="cancel_return" value="http://www.yoursite.com/paymentcancel.html">
                            <input type="hidden" name="notify_url" value="http://www.yoursite.com/notifypayment.php">
                            <input type="submit" name="submit">
                        </form>

                        <!-- Paypal Recurring Form -->
                        <form id="paypal_donate_form-recurring" class="hidden" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="business" value="accounts@thememascot.com">

                            <input type="hidden" name="item_name" value="Educate Children"> <!-- updated dynamically -->
                            <input type="hidden" name="currency_code" value="USD"> <!-- updated dynamically -->
                            <input type="hidden" name="a3" value="20"> <!-- updated dynamically -->
                            <input type="hidden" name="t3" value="D"> <!-- updated dynamically -->


                            <input type="hidden" name="p3" value="1">
                            <input type="hidden" name="rm" value="2">
                            <input type="hidden" name="src" value="1">
                            <input type="hidden" name="sra" value="1">
                            <input type="hidden" name="no_shipping" value="0">
                            <input type="hidden" name="no_note" value="1">
                            <input type="hidden" name="lc" value="US">
                            <input type="hidden" name="bn" value="PP-DonationsBF">
                            <input type="hidden" name="return" value="http://www.yoursite.com/thankyou.html">
                            <input type="hidden" name="cancel_return" value="http://www.yoursite.com/paymentcancel.html">
                            <input type="hidden" name="notify_url" value="http://www.yoursite.com/notifypayment.php">
                            <input type="submit" name="submit">
                        </form>
                        <!-- ===== END: Paypal Both Onetime/Recurring Form ===== -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Upcoming Events -->
    <section id="events" class="">
        <div class="container pt-60 pb-40">
            <div class="section-content">
                @{Html.RenderAction("TrainingEventPartial", "Home");}
            </div>
        </div>
    </section>

    <!-- Section: Running Project 1  -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-stellar-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pb-60 pt-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-0 line-height-1 text-white">Running <span class="text-theme-colored">Projects</span></h2>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="owl-carousel-4col horse-gallery" data-dots="true">
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Earthquake Recovery</a></h4>
                                <span class="category">Nepal / South Asia</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Relocate Refugees</a></h4>
                                <span class="category">Seria / Medilist</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Pure Drinking Water</a></h4>
                                <span class="category">Somalia/ South Africa</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Educating Poor</a></h4>
                                <span class="category">India / South Asia</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Food For Poor</a></h4>
                                <span class="category">India / South Asia</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Child Adoption</a></h4>
                                <span class="category">India / South Asia</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Shalter For Refugees</a></h4>
                                <span class="category">Seria / Medilist</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <div class="thumb">
                                <img class="img-fullwidth" src="http://placehold.it/280x280" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="~/Content/http://placehold.it/280x280"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horse-details">
                                <h4 class="title mb-5"><a href="~/Content/#">Collecting Volunteers</a></h4>
                                <span class="category">Sydney Roosters / Sydney</span>
                                <p class="font-13 pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>
                                    <a href="~/Content/#" class="btn btn-theme-colored btn-flat mt-5 btn-sm" role="button">Donate</a>
                                    <span class="pull-right ml-10 mt-12 font-14">Goal: $2500</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Volunteers -->
    <!-- divider: Became a Volunteers 1 -->
    <section class="divider parallax layer-overlay overlay-deeper" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pt-70 pb-70">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="text-white text-uppercase font-30 font-weight-600 mt-0 mb-20">Сайн дурын идэвхтэн болсоноор</h3>
                        <p class="mb-20 text-white lead">МУЗН-ийн Сайн дурын идэвхтэн нь Хөдөлгөөний үндсэн зарчмыг хүлээн зөвшөөрч, оршин суугаа нутаг дэвсгэрийнхээ МУЗН-ийн аль нэг шатны хороонд бүртгүүлж, Улаан загалмайн үйл ажиллагаанд тогтмол идэвхтэй оролцож, нийгэм, хүний сайн сайхны төлөө сайн дураараа ажилладаг иргэн байна.</p>
                        <a class="btn btn-default btn-circled btn-lg pull-left pl-30 pr-30" href="~/Content/#">Нэгдэх</a>
                    </div>
                    <div class="col-md-5">
                        <div class="fluid-video-wrapper">
                            <iframe src="//player.vimeo.com/video/22029657?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" title="Creative" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Gallery -->
    <section id="gallery">
        <div class="container pb-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="mt-0 line-height-1 text-center mb-10 text-black-333 text-uppercase">Зургийн <span class="text-theme-colored"> цомог</span></h2>
                        <p>Бидний үйл ажиллагааны зургийг харж болно !</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    @{Html.RenderAction("GalleryViewPartial", "Home");}

                </div>
            </div>
        </div>
    </section>

    <!-- Section: Client Say -->
    <section class="divider parallax layer-overlay overlay-dark-7" data-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pt-60 pb-60">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0 pb-0  text-center text-white">Our Donors  say</h2>
                    <div class="owl-carousel-1col" data-dots="true">
                        <div class="item">
                            <div class="testimonial-wrapper text-center">
                                <div class="thumb"><img class="" alt="" src="http://placehold.it/100x100"></div>
                                <div class="content pt-10">
                                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                                    <h4 class="author text-white mb-0">Catherine Grace</h4>
                                    <h6 class="title text-white mt-0 mb-15">Designer</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapper text-center">
                                <div class="thumb"><img class="" alt="" src="http://placehold.it/100x100"></div>
                                <div class="content pt-10">
                                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                                    <h4 class="author text-white mb-0">Catherine Grace</h4>
                                    <h6 class="title text-white mt-0 mb-15">Designer</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapper text-center">
                                <div class="thumb"><img class="" alt="" src="http://placehold.it/100x100"></div>
                                <div class="content pt-10">
                                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                                    <h4 class="author text-white mb-0">Catherine Grace</h4>
                                    <h6 class="title text-white mt-0 mb-15">Designer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Blog -->
    <section id="blog">
        <div class="container pb-70 pt-70">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="mt-0 line-height-1 text-uppercase">Мэдээ,  <span class="text-theme-colored"> Мэдээлэл</span></h2>
                        <p>МУЗН-ийн үйл ажиллагаатай холбоотой мэдээ мэдээллийг харж болно!</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                @{Html.RenderAction("RecentNewsPartial", "Home");}
            </div>
        </div>
    </section>

    <!-- Divider: Clients -->
    @*<section class="clients bg-theme-colored">
            <div class="container pt-10 pb-10 pb-sm-0 pt-sm-0">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Section: Clients -->
                        <div class="owl-carousel-6col transparent text-center owl-nav-top">
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                            <div class="item"> <a href="~/Content/#"><img src="http://placehold.it/200x120" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section*@>

</div>
<!-- end main-content -->
