@model DXWebMRCS.Models.SliderPhoto
@{
    ViewBag.Title = "SliderAdd";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Elements</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-horizontal">
                    @using (Html.BeginForm("SliderAdd", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="divider-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" required onchange="show(this)">
                                <img id="user_img" height="100" width="90" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>  