@model IEnumerable<Sub.Models.Menu>

<div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
            <nav id="menuzord-right" class="menuzord default">
                <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
                    <img src="Content/images/logo-wide.png" alt="">
                </a>
                <ul class="menuzord-menu">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href='@Url.Action("Index", "Home", new { menuID = @item.MenuID })'>                                
                                @item.NameMon                            
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Index", "News")">
                            Мэдээ,мэдээлэл
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
