@*@model DXWebMRCS.Models.Subscribes*@
@{
    
    ViewBag.Title = "_FooterPartial";
    string language = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<!-- Footer -->
<footer id="footer" class="footer bg-black-222" data-bg-img="Content/Images/footer-bg.png">
    <div class="footer-bottom bg-black-333">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-11 text-black-777 m-0">Copyright &copy;@System.DateTime.Now.Year Mongolian Red Cross Society. All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            @if (language == "en-US")
                            {
                                <li>
                                    <a href="~/Content/history">About Us</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="~/Content/history">Бидний тухай</a>
                                </li>
                            }

                            <li>|</li>
                            @if (language == "en-US")
                            {
                                <li>
                                    <a href="~/Content/Branches">Branches</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="~/Content/Branches">Салбар</a>
                                </li>
                            }
                            <li>|</li>
                            @if (language == "en-US")
                            {
                                <li>
                                    <a href="~/jobs">Jobs</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="~/jobs">Нээлттэй ажлын байр</a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a class="scrollToTop" href="~/Content/#"><i class="fa fa-angle-up"></i></a>

