
@{
    ViewBag.Title = "_HeaderPartial";
}

<!-- Header -->
<header id="header" class="header">
    <div class="header-top bg-theme-color-2 sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 pt-10 pb-10">
                    <div class="widget no-border m-0">
                        <ul class="list-inline">
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="~/Content/#">123-456-789</a> </li>
                            <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 8:00 to 2:00 </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="~/Content/#">contact@yourdomain.com</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 pt-10 pb-10">
                    <div class="widget no-border m-0">
                        <ul class="list-inline text-right sm-text-center">
                            <li>
                                <a href="~/Content/#" class="text-white">FAQ</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a href="~/Content/#" class="text-white">Help Desk</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a href="~/Content/#" class="text-white">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 pb-10">
                    <div class="widget no-border m-0">
                        <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                            <li class="">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
            <div class="container">
                <nav id="menuzord-right" class="menuzord default">
                    <a class="menuzord-brand pull-left flip" href="~/Content/javascript:void(0)">
                        <img src="~/Content/images/logo-wide.png" alt="">
                    </a>
                    <ul class="menuzord-menu">
                        <li class="active">
                            <a href="~/Content/#home">Home</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="~/Content/#">Multi Page Layouts</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-mp-layout1.html">Layout1</a></li>
                                        <li><a href="~/Content/index-mp-layout2.html">Layout2</a></li>
                                        <li><a href="~/Content/index-mp-layout3.html">Layout3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Single Page Layouts</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-sp-layout1.html">Layout1</a></li>
                                        <li><a href="~/Content/index-sp-layout2.html">Layout2</a></li>
                                        <li><a href="~/Content/index-sp-layout3.html">Layout3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Boxed Layouts</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-boxed-mp-layout1.html">Boxed Multi Page Layout1</a></li>
                                        <li><a href="~/Content/index-boxed-mp-layout2.html">Boxed Multi Page Layout2</a></li>
                                        <li><a href="~/Content/index-boxed-mp-layout3.html">Boxed Multi Page Layout3</a></li>
                                        <li><a href="~/Content/index-boxed-sp-layout1.html">Boxed Single Page Layout1</a></li>
                                        <li><a href="~/Content/index-boxed-sp-layout2.html">Boxed Single Page Layout2</a></li>
                                        <li><a href="~/Content/index-boxed-sp-layout3.html">Boxed Single Page Layout3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">RTL Layouts</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-rtl-mp-layout1.html">RTL Multi Page Layout1</a></li>
                                        <li><a href="~/Content/index-rtl-mp-layout2.html">RTL Multi Page Layout2</a></li>
                                        <li><a href="~/Content/index-rtl-mp-layout3.html">RTL Multi Page Layout3</a></li>
                                        <li><a href="~/Content/index-rtl-sp-layout1.html">RTL Single Page Layout1</a></li>
                                        <li><a href="~/Content/index-rtl-sp-layout2.html">RTL Single Page Layout2</a></li>
                                        <li><a href="~/Content/index-rtl-sp-layout3.html">RTL Single Page Layout3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Dark Layouts</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-dark-mp-layout1.html">Dark Multi Page Layout1</a></li>
                                        <li><a href="~/Content/index-dark-mp-layout2.html">Dark Multi Page Layout2</a></li>
                                        <li><a href="~/Content/index-dark-mp-layout3.html">Dark Multi Page Layout3</a></li>
                                        <li><a href="~/Content/index-dark-sp-layout1.html">Dark Single Page Layout1</a></li>
                                        <li><a href="~/Content/index-dark-sp-layout2.html">Dark Single Page Layout2</a></li>
                                        <li><a href="~/Content/index-dark-sp-layout3.html">Dark Single Page Layout3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Magazine Home Layouts <span class="label label-info">New</span></a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-magazine-home-layout1.html">Magazine Home layout1</a></li>
                                        <li><a href="~/Content/index-magazine-home-layout2.html">Magazine Home layout2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Portfolio Home Layouts <span class="label label-info">New</span></a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-portfolio-presentation-layout1.html">Portfolio Presentation Layout1</a></li>
                                        <li><a href="~/Content/index-portfolio-presentation-layout2.html">Portfolio Presentation Layout2</a></li>
                                        <li><a href="~/Content/index-portfolio-presentation-layout3.html">Portfolio Presentation Layout3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Hot Layouts <span class="label label-info">New</span></a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/index-hot-split-slider-home.html">Split Slider Home Layout</a></li>
                                        <li><a href="~/Content/index-hot-vertical-slider-home.html">Vertical Slider Home Layout</a></li>
                                        <li><a href="~/Content/index-hot-parallax-home.html">Parallax Home Layout</a></li>
                                        <li><a href="~/Content/index-hot-personal-home.html">Personal Home Layout</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Content/index-shop-home.html">Shop Home <span class="label label-info">New</span></a></li>
                                <li>
                                    <a href="~/Content/#">Home Variations <span class="label label-info">New</span></a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="~/Content/#">Rev Slider</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/index-home-variation-revslider-style1.html">Layout1</a></li>
                                                <li><a href="~/Content/index-home-variation-revslider-style2.html">Layout2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Maximage Slider</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/index-home-variation-maximageslider-style1.html">Layout1</a></li>
                                                <li><a href="~/Content/index-home-variation-maximageslider-style2.html">Layout2</a></li>
                                                <li><a href="~/Content/index-home-variation-maximageslider-style3.html">Layout3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Content/index-home-variation-owl-carousel.html">Owl Slider</a></li>
                                        <li><a href="~/Content/index-home-variation-typed-text.html">Typed Text Layout</a></li>
                                        <li><a href="~/Content/index-home-variation-video-background.html">Youtube Background Video</a></li>
                                        <li><a href="~/Content/index-home-variation-html5-video.html">Html5 Background Video</a></li>
                                        <li><a href="~/Content/index-home-variation-bg-image-parallax.html">Bg Image Parallax Layout</a></li>
                                        <li><a href="~/Content/index-home-variation-bg-static.html">Bg Static Layout</a></li>
                                        <li>
                                            <a href="~/Content/#">Home Appointment Form</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/index-home-variation-appointment-form-style1.html">Layout1</a></li>
                                                <li><a href="~/Content/index-home-variation-appointment-form-style2.html">Layout2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/#">Features</a>
                            <ul class="dropdown">
                                <li><a href="~/Content/features-preloader.html">Preloaders</a></li>
                                <li>
                                    <a href="~/Content/#">Header</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/features-header-style1.html">Header Style1</a></li>
                                        <li><a href="~/Content/features-header-style2.html">Header Style2</a></li>
                                        <li><a href="~/Content/features-header-style3.html">Header Style3</a></li>
                                        <li><a href="~/Content/features-header-style4.html">Header Style4</a></li>
                                        <li><a href="~/Content/features-header-style5.html">Header Style5</a></li>
                                        <li><a href="~/Content/features-header-style6.html">Header Style6</a></li>
                                        <li><a href="~/Content/features-header-style7.html">Header Style7</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Page Title</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/features-page-title-text-left.html">Text Left</a></li>
                                        <li><a href="~/Content/features-page-title-text-center.html">Text Center</a></li>
                                        <li><a href="~/Content/features-page-title-text-right.html">Text Right</a></li>
                                        <li><a href="~/Content/features-page-title-mini-version.html">Mini Version</a></li>
                                        <li><a href="~/Content/features-page-title-big-version.html">Big Version</a></li>
                                        <li><a href="~/Content/features-page-title-extra-big-version.html">Extra Big Version</a></li>
                                        <li><a href="~/Content/features-page-title-bg-white.html">Bg White</a></li>
                                        <li><a href="~/Content/features-page-title-bg-image.html">Bg Image</a></li>
                                        <li><a href="~/Content/features-page-title-bg-image-parallax.html">Bg Image Parallax</a></li>
                                        <li><a href="~/Content/features-page-title-bg-video.html">Bg Video</a></li>
                                        <li><a href="~/Content/features-page-title-full-transparent.html">Full Transparent</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Side Push Panel</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/features-side-push-panel-left-overlay.html">Left Overlay</a></li>
                                        <li><a href="~/Content/features-side-push-panel-left-push.html">Left Push</a></li>
                                        <li><a href="~/Content/features-side-push-panel-right-overlay.html">Right Overlay</a></li>
                                        <li><a href="~/Content/features-side-push-panel-right-push.html">Right Push</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Sliders</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="~/Content/#">Revolution Slider</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/features-home-revslider.html">Revolution Slider</a></li>
                                                <li><a href="~/Content/features-rev-slider-premium-templates.html">Revolution Slider All In One</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Content/features-home-bg-image-slider.html">Bg Image Slider</a></li>
                                        <li><a href="~/Content/features-home-owl-fullwidth-carousel.html">Owl Fullwidth Carousel</a></li>
                                        <li><a href="~/Content/features-home-parallax-bg.html">Static/Parallax Image Bg</a></li>
                                        <li><a href="~/Content/features-home-video-bg.html">Video Image Bg</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Form</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="~/Content/#">Subscribe Form</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-subscribe.html">Form style 1</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Appointment Form</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-appointment-style1.html">Form style 1</a></li>
                                                <li><a href="~/Content/form-appointment-style2.html">Form style 2</a></li>
                                                <li><a href="~/Content/form-appointment-style3.html">Form style 3</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Job Apply Form</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-job-apply-style1.html">Form style 1</a></li>
                                                <li><a href="~/Content/form-job-apply-style2.html">Form style 2</a></li>
                                                <li><a href="~/Content/form-job-apply-style3.html">Form style 3</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Quick Contact Form</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-quick-contact-style1.html">Form style 1</a></li>
                                                <li><a href="~/Content/form-quick-contact-style2.html">Form style 2</a></li>
                                                <li><a href="~/Content/form-quick-contact-style3.html">Form style 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Paypal Form <span class="label label-success">New</span></a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="~/Content/#">Donation Onetime</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-paypal-donate-onetime-style1.html">Style1</a></li>
                                                <li><a href="~/Content/form-paypal-donate-onetime-style2.html">Style2</a></li>
                                                <li><a href="~/Content/form-paypal-donate-onetime-style3.html">Style3</a></li>
                                                <li><a href="~/Content/form-paypal-donate-onetime-style4.html">Style4</a></li>
                                                <li><a href="~/Content/form-paypal-donate-onetime-style5.html">Style5</a></li>
                                                <li><a href="~/Content/form-paypal-donate-onetime-style6.html">Style6</a></li>
                                                <li><a href="~/Content/form-paypal-donate-onetime-style7.html">Style7</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Donation Recurring</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-paypal-donate-recurring-style1.html">Style1</a></li>
                                                <li><a href="~/Content/form-paypal-donate-recurring-style2.html"> Style2</a></li>
                                                <li><a href="~/Content/form-paypal-donate-recurring-style3.html">Style3</a></li>
                                                <li><a href="~/Content/form-paypal-donate-recurring-style4.html">Style4</a></li>
                                                <li><a href="~/Content/form-paypal-donate-recurring-style5.html">Style5</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Both Onetime/Recurring</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/form-paypal-donate-both-onetime-recurring-style1.html">Style1</a></li>
                                                <li><a href="~/Content/form-paypal-donate-both-onetime-recurring-style2.html">Style2</a></li>
                                                <li><a href="~/Content/form-paypal-donate-both-onetime-recurring-style3.html">Style3</a></li>
                                                <li><a href="~/Content/form-paypal-donate-both-onetime-recurring-style4.html">Style4</a></li>
                                                <li><a href="~/Content/form-paypal-donate-both-onetime-recurring-style5.html">Style5</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Content/form-paypal-cart-style1.html">Cart Payment</a></li>
                                        <li><a href="~/Content/form-paypal-order-style1.html">Order Payment Style1</a></li>
                                        <li><a href="~/Content/form-paypal-order-style2.html">Order Payment Style2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Popup Promo Box</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/features-popup-promo-box.html">Default</a></li>
                                        <li><a href="~/Content/features-popup-promo-box-cookie-enabled.html">Cookie Enabled</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Footer</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/features-footer-style1.html#footer">Footer One</a></li>
                                        <li><a href="~/Content/features-footer-style2.html#footer">Footer Two</a></li>
                                        <li><a href="~/Content/features-footer-style3.html#footer">Footer Three</a></li>
                                        <li><a href="~/Content/features-footer-style4.html#footer">Footer Four</a></li>
                                        <li><a href="~/Content/features-footer-style5.html#footer">Footer Five</a></li>
                                        <li><a href="~/Content/features-footer-style6.html#footer">Footer Six</a></li>
                                        <li><a href="~/Content/features-footer-style7.html#footer">Footer Seven</a></li>
                                        <li><a href="~/Content/features-footer-style8.html#footer">Footer Eight</a></li>
                                        <li><a href="~/Content/features-footer-style9.html#footer">Footer Nine</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/#">Pages</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="~/Content/#">About</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-about-style1.html">About Style 1</a></li>
                                        <li><a href="~/Content/page-about-style2.html">About Style 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Get Involved</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-fundraise.html">Fundraise</a></li>
                                        <li><a href="~/Content/page-donate.html">Donate</a></li>
                                        <li><a href="~/Content/page-run-a-race.html">Run a Race</a></li>
                                        <li><a href="~/Content/page-campaign.html">Campaign</a></li>
                                        <li><a href="~/Content/page-philanthropy.html">Philanthropy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Projects</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-running-projects.html">Running Projects List</a></li>
                                        <li><a href="~/Content/page-running-projects-details.html">Running Projects Details</a></li>
                                        <li><a href="~/Content/page-completed-projects.html">Completed Projects List</a></li>
                                        <li><a href="~/Content/page-completed-projects-details.html">Completed Projects Details</a></li>
                                        <li><a href="~/Content/page-next-projects.html">Next Projects List</a></li>
                                        <li><a href="~/Content/page-next-projects-details.html">Next Projects Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#home">Causes</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-causes-style1.html">Causes style 1</a></li>
                                        <li><a href="~/Content/page-causes-style2.html">Causes style 2</a></li>
                                        <li><a href="~/Content/page-causes-details.html">Causes Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Pricing</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-pricing-style1.html">Pricing Style 1</a></li>
                                        <li><a href="~/Content/page-pricing-style2.html">Pricing Style 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Content/page-timetable.html">Timetable</a></li>
                                <li>
                                    <a href="~/Content/#">Calender</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-calendar1.html">Calendar Style1</a></li>
                                        <li><a href="~/Content/page-calendar2.html">Calendar Style2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Events</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="~/Content/#">Events Grid</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/events-grid-2column.html">Grid 2column</a></li>
                                                <li><a href="~/Content/events-grid-3column.html">Grid 3column</a></li>
                                                <li><a href="~/Content/events-grid-4column.html">Grid 4column</a></li>
                                                <li><a href="~/Content/events-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                                                <li><a href="~/Content/events-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Events List</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/events-list-left-sidebar.html">List Left Sidebar</a></li>
                                                <li><a href="~/Content/events-list-right-sidebar.html">List Right Sidebar</a></li>
                                                <li><a href="~/Content/events-list-no-sidebar.html">List No Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Content/#">Events Details</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Content/events-details-style1.html">Details Style1</a></li>
                                                <li><a href="~/Content/events-details-style2.html">Details Style2</a></li>
                                                <li><a href="~/Content/events-details-style3.html">Details Style3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Content/events-table.html">Events Table</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Job <span class="label label-success">New</span></a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/job-list.html">Job List</a></li>
                                        <li><a href="~/Content/job-details-style1.html">Job Details Style1</a></li>
                                        <li><a href="~/Content/job-details-style2.html">Job Details Style2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Shop</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/shop-category.html">Category</a></li>
                                        <li><a href="~/Content/shop-category-sidebar.html">Category Sidebar</a></li>
                                        <li><a href="~/Content/shop-product-details.html">Product Details</a></li>
                                        <li><a href="~/Content/shop-cart.html">Cart</a></li>
                                        <li><a href="~/Content/shop-checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Contact</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-contact-style1.html">Contact style 1</a></li>
                                        <li><a href="~/Content/page-contact-style2.html">Contact style 2</a></li>
                                        <li><a href="~/Content/page-contact-style3.html">Contact style 3</a></li>
                                        <li><a href="~/Content/page-contact-style4.html">Contact style 4</a></li>
                                        <li><a href="~/Content/page-contact5-with-multiple-marker.html">Contact 5 - Multiple Marker</a></li>
                                        <li><a href="~/Content/page-contact6-with-multiple-marker.html">Contact 6 - Multiple Marker</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">FAQ</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-faq-style1.html">FAQ Style1</a></li>
                                        <li><a href="~/Content/page-faq-style2.html">FAQ Style2</a></li>
                                        <li><a href="~/Content/page-faq-style3.html">FAQ Style3</a></li>
                                        <li><a href="~/Content/page-faq-style4.html">FAQ Style4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Page 404</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-404-style1.html">Style1</a></li>
                                        <li><a href="~/Content/page-404-style2.html">Style2</a></li>
                                        <li><a href="~/Content/page-404-style3.html">Style3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Coming Soon</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-coming-soon-style1.html">Contact style 1</a></li>
                                        <li><a href="~/Content/page-coming-soon-style2.html">Contact style 2</a></li>
                                        <li><a href="~/Content/page-coming-soon-style3.html">Contact style 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Under Construction</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/page-under-construction-style1.html">Style1</a></li>
                                        <li><a href="~/Content/page-under-construction-style2.html">Style2</a></li>
                                        <li><a href="~/Content/page-under-construction-style3.html">Style3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/#">Gallery</a>
                            <ul class="dropdown">
                                <li><a href="~/Content/page-gallery-3col.html">3 Columns</a></li>
                                <li><a href="~/Content/page-gallery-3col-only-image.html">3 Columns Only Image</a></li>
                                <li><a href="~/Content/page-gallery-4col.html">4 Columns</a></li>
                                <li><a href="~/Content/page-gallery-4col-only-image.html">4 Columns Only Image</a></li>
                                <li><a href="~/Content/page-gallery-grid.html">Grids (2-10 Columns)</a></li>
                                <li><a href="~/Content/page-gallery-grid-animation.html">Grids with Animation (2-10 Columns)</a></li>
                                <li><a href="~/Content/page-gallery-3col-tiles.html">3 Columns Tiles</a></li>
                                <li><a href="~/Content/page-gallery-4col-tiles.html">4 Columns Tiles</a></li>
                                <li><a href="~/Content/page-gallery-masonry-tiles.html">Tiles (2-10 Columns)</a></li>
                                <li><a href="~/Content/page-gallery-masonry-tiles-animation.html">Tiles with Animation (2-10 Columns)</a></li>
                                <li><a href="~/Content/page-gallery-prettyphoto.html">Pretty Photo Gallery</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/#">Causes</a>
                            <ul class="dropdown">
                                <li><a href="~/Content/page-causes-grid-3-column.html">Causes 3 Column</a></li>
                                <li><a href="~/Content/page-causes-grid-4-column.html">Causes 4 Column</a></li>
                                <li><a href="~/Content/page-causes-list.html">Causes List</a></li>
                                <li><a href="~/Content/page-single-cause.html">Single Cause</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/#home">Volunteers</a>
                            <ul class="dropdown">
                                <li><a href="~/Content/page-volunteers-style1.html">Volunteers style 1</a></li>
                                <li><a href="~/Content/page-volunteers-style2.html">Volunteers style 2</a></li>
                                <li><a href="~/Content/page-volunteers-details.html">Volunteers Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/#">Blog</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="~/Content/#">Blog Classic</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/blog-classic-no-sidebar.html">Blog Classic No Sidebar</a></li>
                                        <li><a href="~/Content/blog-classic-left-sidebar.html">Blog Classic Left Sidebar</a></li>
                                        <li><a href="~/Content/blog-classic-right-sidebar.html">Blog Classic Right Sidebar</a></li>
                                        <li><a href="~/Content/blog-classic-both-sidebar.html">Blog Classic Both Sidebar</a></li>
                                        <li><a href="~/Content/blog-classic-left-thumbs.html">Blog Classic Left Thumbs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Blog Grid</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/blog-grid-2-column.html">Blog Grid 2 Column</a></li>
                                        <li><a href="~/Content/blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="~/Content/blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Blog Masonry</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/blog-masonry-2-column.html">Blog Masonry 2 Column</a></li>
                                        <li><a href="~/Content/blog-masonry-3-column.html">Blog Masonry 3 Column</a></li>
                                        <li><a href="~/Content/blog-masonry-4-column.html">Blog Masonry 4 Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Blog Single</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/blog-single-no-sidebar.html">Blog Single No Sidebar</a></li>
                                        <li><a href="~/Content/blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                                        <li><a href="~/Content/blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
                                        <li><a href="~/Content/blog-single-both-sidebar.html">Blog Single Both Sidebar</a></li>
                                        <li><a href="~/Content/blog-single-disqus-comments.html">Blog Single Discuss Comments</a></li>
                                        <li><a href="~/Content/blog-single-facebook-comments.html">Blog Single Facebook Comments</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Blog Infinity Scroll</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/blog-extra-infinity-scroll.html">Blog Infinity Scroll Default</a></li>
                                        <li><a href="~/Content/blog-extra-infinity-scroll-lazyload.html">Blog Infinity Scroll Lazyload</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Content/#">Blog Timeline</a>
                                    <ul class="dropdown">
                                        <li><a href="~/Content/blog-timeline.html">Blog Timeline Default</a></li>
                                        <li><a href="~/Content/blog-timeline-masonry.html">Blog Timeline Masonry</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Content/javascript:void(0)">Shortcodes</a>
                            <div class="megamenu">
                                <div class="megamenu-row">
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="~/Content/shortcode-accordion.html"><i class="fa fa-list-ul"></i> Accordion</a></li>
                                            <li><a href="~/Content/shortcode-alerts.html"><i class="fa fa-exclamation-circle"></i> Alerts</a></li>
                                            <li><a href="~/Content/shortcode-animations.html"><i class="fa fa-magic"></i> Animations</a></li>
                                            <li><a href="~/Content/shortcode-background-html5-video.html"><i class="fa fa-video-camera"></i> HTML5 Background Video</a></li>
                                            <li><a href="~/Content/shortcode-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                                            <li><a href="~/Content/shortcode-button-groups-and-dropdowns.html"><i class="fa fa-link"></i> Button Groups</a></li>
                                            <li><a href="~/Content/shortcode-button-hover-effect.html"><i class="fa fa-flag-o"></i> Button Hover Effect</a></li>
                                            <li><a href="~/Content/shortcode-buttons.html"><i class="fa fa-external-link"></i> Buttons</a></li>
                                            <li><a href="~/Content/shortcode-call-to-actions.html"><i class="fa fa-plus-square"></i> Call To Actions</a></li>
                                            <li><a href="~/Content/shortcode-charts.html"><i class="fa fa-pie-chart"></i> Charts</a></li>
                                            <li><a href="~/Content/shortcode-columns-grids.html"><i class="fa fa-columns"></i> Columns Grids</a></li>
                                            <li><a href="~/Content/shortcode-divider.html"><i class="fa fa-indent"></i> Divider</a></li>
                                            <li><a href="~/Content/shortcode-dropcaps.html"><i class="fa fa-bold"></i> Dropcaps</a></li>
                                            <li><a href="~/Content/shortcode-datetime-datepicker.html"><i class="fa fa-calendar"></i> Date Picker</a></li>
                                            <li><a href="~/Content/shortcode-datetime-timepicker.html"><i class="fa fa-calendar"></i> Time Picker</a></li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="~/Content/shortcode-datetime-datetimepicker.html"><i class="fa fa-calendar"></i> Bootstrap Date-Time Picker</a></li>
                                            <li><a href="~/Content/shortcode-datetime-datepair.html"><i class="fa fa-calendar"></i> Date Pair</a></li>
                                            <li><a href="~/Content/shortcode-flickr-feed.html"><i class="fa fa-flickr"></i> Flickr Feed</a></li>
                                            <li><a href="~/Content/shortcode-flipbox.html"><i class="fa fa-square"></i> Flipbox</a></li>
                                            <li><a href="~/Content/shortcode-forms.html"><i class="fa fa-align-justify"></i> Forms</a></li>
                                            <li><a href="~/Content/shortcode-iconbox.html"><i class="fa fa-unsorted"></i> Icon Box</a></li>
                                            <li><a href="~/Content/shortcode-icon-7stroke.html"><i class="fa fa-circle-o"></i> Icons 7stroke</a></li>
                                            <li><a href="~/Content/shortcode-icon-elegant-icons.html"><i class="fa fa-eye-slash"></i> Icons Elegant</a></li>
                                            <li><a href="~/Content/shortcode-icon-flat-color-icons.html"><i class="fa fa-i-cursor"></i> Icons Flat Color</a></li>
                                            <li><a href="~/Content/shortcode-icon-fontawesome.html"><i class="fa fa-fort-awesome"></i> Icons FontAwesome</a></li>
                                            <li><a href="~/Content/shortcode-icon-fontawesome-tutorial.html"><i class="fa fa-fonticons"></i> Icons FontAwesome Tutorial</a></li>
                                            <li><a href="~/Content/shortcode-icon-strokegap.html"><span class="strokegap-icon strokegap-icon-WorldWide"></span> Icons Strokegap</a></li>
                                            <li><a href="~/Content/shortcode-image-box.html"><i class="fa fa-file-image-o"></i> Image Box</a></li>
                                            <li><a href="~/Content/shortcode-instagram.html"><i class="fa fa-instagram"></i> Instagram Feed</a></li>
                                            <li><a href="~/Content/shortcode-labels-badges.html"><i class="fa fa-check-square-o"></i> Labels Badges</a></li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="~/Content/shortcode-listgroup-panels.html"><i class="fa fa-th-list"></i> Listgroup Panels</a></li>
                                            <li><a href="~/Content/shortcode-lists.html"><i class="fa fa-list"></i> Lists</a></li>
                                            <li><a href="~/Content/shortcode-maps.html"><i class="fa fa-map-o"></i> Maps</a></li>
                                            <li><a href="~/Content/shortcode-media-embed.html"><i class="fa fa-play-circle-o"></i> Media Embed</a></li>
                                            <li><a href="~/Content/shortcode-modal-bootstrap.html"><i class="fa fa-search-plus"></i> Modal</a></li>
                                            <li><a href="~/Content/shortcode-modal-lightbox.html"><i class="fa fa-expand"></i> Lightbox</a></li>
                                            <li><a href="~/Content/shortcode-navigation.html"><i class="fa fa-navicon"></i> Navigation</a></li>
                                            <li><a href="~/Content/shortcode-owl-carousel.html"><i class="fa fa-sliders"></i> Owl Carousel</a></li>
                                            <li><a href="~/Content/shortcode-pagination.html"><i class="fa fa-arrow-circle-o-right"></i> Pagination</a></li>
                                            <li><a href="~/Content/shortcode-progressbar.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
                                            <li><a href="~/Content/shortcode-responsive.html"><i class="fa fa-tablet"></i> Responsive</a></li>
                                            <li><a href="~/Content/shortcode-separator.html"><i class="fa fa-minus-square-o"></i> Separator</a></li>
                                            <li><a href="~/Content/shortcode-sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a></li>
                                            <li><a href="~/Content/shortcode-sliders.html"><i class="fa fa-sliders"></i> Sliders</a></li>
                                            <li><a href="~/Content/shortcode-smoothscrolling.html"><i class="fa fa-binoculars"></i> Smoothscrolling</a></li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="~/Content/shortcode-styled-icons.html"><i class="fa fa-facebook-square"></i> Styled Icons</a></li>
                                            <li><a href="~/Content/shortcode-subscribe.html"><i class="fa fa-user-plus"></i> Subscribe</a></li>
                                            <li><a href="~/Content/shortcode-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                                            <li><a href="~/Content/shortcode-tabs.html"><i class="fa fa-indent"></i> Tabs</a></li>
                                            <li><a href="~/Content/shortcode-textblock.html"><i class="fa fa-bold"></i> Textblock</a></li>
                                            <li><a href="~/Content/shortcode-thumbnails-carousels.html"><i class="fa fa-sliders"></i> Thumbnails/carousels</a></li>
                                            <li><a href="~/Content/shortcode-title.html"><i class="fa fa-text-height"></i> Title</a></li>
                                            <li><a href="~/Content/shortcode-timer-final-countdown.html"><i class="fa fa-text-height"></i> Timer Final Countdown</a></li>
                                            <li><a href="~/Content/shortcode-timer-flipclock.html"><i class="fa fa-text-height"></i> Timer Flipclock</a></li>
                                            <li><a href="~/Content/shortcode-timer-slick-circular.html"><i class="fa fa-text-height"></i> Timer Slick Circular</a></li>
                                            <li><a href="~/Content/shortcode-twitter.html"><i class="fa fa-twitter-square"></i> Twitter Feed</a></li>
                                            <li><a href="~/Content/shortcode-typography.html"><i class="fa fa-font"></i> Typography</a></li>
                                            <li><a href="~/Content/shortcode-vertical-timeline.html"><i class="fa fa-arrows-v"></i> Vertical Timeline</a></li>
                                            <li><a href="~/Content/shortcode-widgets.html"><i class="fa fa-gift"></i> Widgets</a></li>
                                            <li><a href="~/Content/shortcode-working-process.html"><i class="fa fa-exchange"></i> Working Process</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

