

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a>@Html.ActionLink("Hello " + User.Identity.Name + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-default btn-flat btn-xs bg-light p-5 font-11 pl-10 pr-10" })</a>
        <a class="btn btn-default btn-flat btn-xs bg-light p-5 font-11 pl-10 pr-10" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",  @class="btn btn-default btn-flat btn-xs bg-light p-5 font-11 pl-10 pr-10"})</a>
    <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class="btn btn-default btn-flat btn-xs bg-light p-5 font-11 pl-10 pr-10"})    </a>
}


