@model IEnumerable<DXWebMRCS.Models.Tag>
@{
    Layout = null;
}

<div class="widget">
    <h5 class="widget-title line-bottom">Tags</h5>
    <div class="tags">
        @foreach (var item in Model)
        {
            <a href='@Url.Action("TagNewsList", "News", new { tagID = @item.TagID })'>
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                {
                    @item.NameEng
                }
                else
                {
                    @item.NameMon
                }
            </a>
        }
    </div>
</div>
