
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

 <!-- Start main-content -->
<div class="main-content">
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">                    
                    <div class="icon-box mb-0 p-0">

                        <img src="https://www.redcross.mn/asset/web/img/eu.png" alt="eu" style="float:left; margin-right:20px; margin-bottom: 30px;">
                        <h3 class="icon-box-title pt-15 mt-0 mb-40" style="color: #df0030">Аюулгүй, эсэн мэнд байгаагаа мэдэгдээрэй</h3>
                        <hr>
                        <p class="text-gray">
                            Хэрэв Та ямар нэг байдлаар гамшигт нэрвэгдсэн бол “Аюулгүй, эсэн мэнд байна” гэсэн энэхүү хуудсаар дамжуулан ойр дотныхондоо өөрийгөө мэдэгдээрэй.
                            Энэхүү “Аюулгүй, эсэн мэнд байна” хуудсанд бүртгүүлэх эсэх нь сайн дурын үндсэн дээр явагдах ба Та хэзээ ч хамаагүй бүртгүүлж, өөрийн мэдээллийг шинэчлэх боломжтой юм. Таны тухай мэдээллийг хайж байгаа хүмүүс Таны нэр, утасны дугаар, гэрийн хаягийн мэдээллийг оруулж, нэвтэрнэ.
                        </p>
                        <p class="text-gray">
                            Хайлтын дүн зөвхөн таны овог, нэр, бүртгүүлсэн огноо, цаг болон Таны бусдад хэлэхийг хүссэн захидлыг л харуулах болно. Алга болсон хүмүүсийн мэдээллийг гэр бүлтэй нь холбож өгөх эсвэл гамшгийн үеийн хүмүүнлэгийн тусламжид хамруулах зорилгоор бусад байгууллагуудтай мөн хуваалцаж болзошгүй.
                            Та өөрийгөө “Аюулгүй, эсэн мэнд байна” хуудсанд бүртгүүлэхийн тулд энд дарж бүртгүүлнэ үү.
                        </p>                        

                    </div>
                    @*<h5 class="mt-30">Requirments:</h5>
                    <ul class="list theme-colored">
                        <li>Lorem ipsum dolor sit elit</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>*@
                    <a class="btn btn-dark btn-theme-colored btn-flat btn-xl" href='@Url.Action("AddSafeUser", "Safe")'>Аюулгүй, эсэн мэнд байгаагаа бүртгүүлэх</a>
                    <a class="btn btn-dark btn-theme-colored btn-flat btn-xl" href='@Url.Action("SafeUserList", "Safe")'> Жагсаалт үзэх</a>
                </div>              
               
            </div>
        </div>
    </section>    

</div>
<!-- end main-content -->

